{% extends "base.html" %}
{% block content %}
    <div class="card-compact bg-base-100 shadow-xl rounded-lg w-1/2 mx-auto">
    <div class='card-body justify-center items-center'>
        <h1 class="text-xl text-center font-bold p-4">Change User Role:</h1>
        <ul>
            {% for message in messages %}
                <li class="bg-green-500 text-white px-1 py-2">{{message}}</li>
            {% endfor %}
        </ul>
        <form method='POST'>
            {% csrf_token %}
            {{form}}
            <button type="submit" class="mt-6 px-2 py-1 text-white bg-blue-500 rounded">Assign Role</button>
        </form>
    </div>
</div>
{% endblock content %}