{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body class="bg-gray-200">
    <header class="py-4 bg-blue-950 mx-auto">
        {% if request.user.is_authenticated %}
            {% include "logged_nav.html" %}
        {% else %}
            {% include "non_logged_nav.html" %}
        {% endif %}
    
    </header>
    <main class="py-4 mx-auto container max-w-11/12">
    
    {% block content %} 
    {% endblock content %}
    
    </main>
    <footer>
      {% include "footer.html" %}
    </footer>    
    </body>
</html>
