<div class="navbar w-11/12 mx-auto">
    <div class="navbar-start">
        <a href="{% url "home" %}" role="button" class="btn btn-ghost normal-case text-white text-xl">Home</a>
    </div>
    <div class="navbar-center block">
        <h1 class="text-2xl font-bold text-white text-center">Event Management System</h1>
        <p class="text-xl font-normal text-white text-center">Dhaka, Bangladesh</p>
    </div>
    <div class="navbar-end">
        <form action="{% url "sign_in" %}"method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-ghost sm:btn-sm md:btn-md lg:btn-lg normal-case text-white">Sign-in</button>
        </form>
        <form action="{% url "sign_up" %}"method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-ghost sm:btn-sm md:btn-md lg:btn-lg normal-case text-white">Sign-up</button>
        </form>
    </div>
</div>