{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body class=" bg-base-100 p-8">
    <nav class="container mx-auto ">
      {% comment %} Navbar Section {% endcomment %}
      <div class="navbar pt-8">
        {% block dashboard_btn %}{% endblock dashboard_btn %}
        {% block home_btn %}{% endblock home_btn %}
        <div class="flex-none gap-2">
          <div>
            <a href="{% url "events" %}" role="button" class="btn btn-ghost sm:btn-sm md:btn-md lg:btn-lg normal-case">Events</a>
            <a href="{% url "participants" %}" role="button" class="btn btn-ghost sm:btn-sm md:btn-md lg:btn-lg normal-case">Participants</a>
            <a href="{% url "categories" %}" role="button" class="btn btn-ghost sm:btn-sm md:btn-md lg:btn-lg normal-case">Category</a>
          </div>
          <div class="form-control">
            <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto"/>
          </div>
          <div>
            <button class="btn btn-outline btn-success normal-case">Search</button>
          </div>
        </div>
      </div>
    </nav>
    <main class="pt-8 container mx-auto">
    {% block stats %}

    {% endblock stats %}

    {% block event_list %}
    
    {% endblock event_list %}

    {% block event_details %}{% endblock event_details %}
    </main>

    {% include "footer.html" %}
    </body>
</html>
