{% extends "base.html" %}
{% block title %}Create Category{% endblock title %}
{% block content %}
<div >
    <div class="hero-content">
        <div class="card flex-shrink-0 w-full max-w-2xl shadow-2xl bg-base-100">
            <div class="flex justify-center items-center pt-8">
                <h1 class="font-bold text-2xl">Add a New Category</h1>
            </div>
        {% if messages %}
            {% for message in messages %}
                <div class="px-2 mx-1 py-1 {% if message.tags == 'success' %} text-green-600 {% endif %}"> 
                    {{message}} 
                </div>
            {% endfor %}
            
        {% endif %}
        <form method="POST" class="card-body">
            {% csrf_token %}
            {{category_form}}
            <div class="flex justify-end items-center">
                <button type="submit" class="border-purple-200  hover:border-transparent hover:bg-purple-600 hover:text-white active:bg-purple-700 border-2 rounded-lg shadow-xl p-2 w-fit">Add</button>
            </div>
        </form>
        </div>
    </div>
</div>
{% endblock content %}