{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static "css/output.css" %}">
    <title>Dashboard</title>
  </head>
  <body class=" bg-neutral-100 p-8">
    <nav class="container mx-auto ">
      {% comment %} Navbar Section {% endcomment %}
      <div class="navbar pt-8">
        <div class="flex-1">
          <a class="btn btn-ghost normal-case text-xl">Dashboard</a>
        </div>
        <div class="flex-none gap-2">
          <div>
            <a href="" role="button" class="btn btn-ghost sm:btn-sm md:btn-md lg:btn-lg normal-case">Events</a>
            <a href="" role="button" class="btn btn-ghost sm:btn-sm md:btn-md lg:btn-lg normal-case">Participants</a>
            <a href="" role="button" class="btn btn-ghost sm:btn-sm md:btn-md lg:btn-lg normal-case">Category</a>
          </div>
          <div class="form-control">
            <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto"/>
          </div>
          <div>
            <button class="btn btn-outline btn-success normal-case">Search</button>
          </div>
        </div>
      </div>
      {% comment %} Grid Stats Section {% endcomment %}
      <div class="grid grid-cols-1 grid-flow-row lg:grid-cols-4 lg:grid-flow-col gap-4">

          <div class="stats shadow p-4">
              <div class="stat">
                <div class="stat-figure text-primary">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
                  </svg>
                </div>
                <div class="stat-title text-xl">Total Participants:</div>
                <div class="stat-value text-primary">31K</div>
                <div class="stat-desc">Jan 1st - Feb 1st</div>
            </div>
          </div>
          <div class="stats shadow p-4">
              <div class="stat">
                <div class="stat-figure text-secondary">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                     <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5" />
                  </svg>
                </div>
                <div class="stat-title text-xl">Total Events:</div>
                <div class="stat-value text-secondary">31K</div>
                <div class="stat-desc">Jan 1st - Feb 1st</div>
            </div>
          </div>
          <div class="stats shadow p-4">
              <div class="stat">
                <div class="stat-figure text-warning">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                  </svg>
                </div>
                <div class="stat-title text-xl">Upcoming Events:</div>
                <div class="stat-value text-warning">31K</div>
                <div class="stat-desc">Jan 1st - Feb 1st</div>
            </div>
          </div>
          <div class="stats shadow p-4">
              <div class="stat">
                <div class="stat-figure text-success">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                      <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 0 1 2.25-2.25h13.5A2.25 2.25 0 0 1 21 7.5v11.25m-18 0A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75m-18 0v-7.5A2.25 2.25 0 0 1 5.25 9h13.5A2.25 2.25 0 0 1 21 11.25v7.5m-9-6h.008v.008H12v-.008ZM12 15h.008v.008H12V15Zm0 2.25h.008v.008H12v-.008ZM9.75 15h.008v.008H9.75V15Zm0 2.25h.008v.008H9.75v-.008ZM7.5 15h.008v.008H7.5V15Zm0 2.25h.008v.008H7.5v-.008Zm6.75-4.5h.008v.008h-.008v-.008Zm0 2.25h.008v.008h-.008V15Zm0 2.25h.008v.008h-.008v-.008Zm2.25-4.5h.008v.008H16.5v-.008Zm0 2.25h.008v.008H16.5V15Z" />
                  </svg>
                </div>
                <div class="stat-title text-xl">Past events:</div>
                <div class="stat-value text-success">31K</div>
                <div class="stat-desc">Jan 1st - Feb 1st</div>
            </div>
          </div>
      </div>
    </nav>
    <main class="pt-8 container mx-auto">
      {% comment %} Todays Event Lists  {% endcomment %}
       <div class="overflow-x-auto">
          <table class="table table-auto bg-base-100">
              <!-- head -->
            <caption class="caption-top text-start text-xl font-bold p-4">
            Today's Events Listing:
            </caption>
              <thead>
                <tr>
                  <th></th>
                  <th class="text-lg font-bold">Event Name</th>
                  <th class="text-lg font-bold">Description</th>
                  <th class="text-lg font-bold">Location</th>
                </tr>
              </thead>
              <tbody>
                <!-- row 1 -->
                <tr class="hover">
                  <th>1</th>
                  <td>Cy Ganderton</td>
                  <td>Quality Control Specialist</td>
                  <td>Blue</td>
                </tr>
                <!-- row 2 -->
                <tr class="hover">
                  <th>2</th>
                  <td>Hart Hagerty</td>
                  <td>Desktop Support Technician</td>
                  <td>Purple</td>
                </tr>
                <!-- row 3 -->
                <tr>
                  <th>3</th>
                  <td>Brice Swyre</td>
                  <td>Tax Accountant</td>
                  <td>Red</td>
                </tr>
              </tbody>
            </table>
       </div>
       {% comment %} Interactive Stats {% endcomment %}
        <div class="overflow-x-auto">
          <table class="table table-auto bg-base-100">
              <!-- head -->
            <caption class="caption-top text-start text-xl font-bold p-4">
            Total Events:
            </caption>
              <thead>
                <tr>
                  <th></th>
                  <th class="text-lg font-bold">Event Name</th>
                  <th class="text-lg font-bold">Description</th>
                  <th class="text-lg font-bold">Location</th>
                </tr>
              </thead>
              <tbody>
                <!-- row 1 -->
                <tr class="hover">
                  <th>1</th>
                  <td>Cy Ganderton</td>
                  <td>Quality Control Specialist</td>
                  <td>Blue</td>
                </tr>
                <!-- row 2 -->
                <tr class="hover">
                  <th>2</th>
                  <td>Hart Hagerty</td>
                  <td>Desktop Support Technician</td>
                  <td>Purple</td>
                </tr>
                <!-- row 3 -->
                <tr>
                  <th>3</th>
                  <td>Brice Swyre</td>
                  <td>Tax Accountant</td>
                  <td>Red</td>
                </tr>
              </tbody>
            </table>
       </div>
    </main>

    <footer class="footer footer-center py-8 text-base-content mt-8">
      <aside>
        <p>Copyright © 2025 - All right reserved by ACME Industries Ltd</p>
      </aside>
    </footer>

    </body>
</html>
