{% extends "base_dashboard.html" %}
{% block title %}Event Details{% endblock title %}
{% block home_btn %}
    <div class="flex-1">
          <a href="{% url "user_dashboard" %}"class="btn btn-ghost normal-case text-xl text-white">{{dashboard_name}}</a>
    </div>
{% endblock home_btn %}

{% block event_details %}
<div class="flex justify-between items-top gap-4">
{% comment %} Event Detail Section {% endcomment %}
<div class="bg-white p-8 flex-1 rounded-xl shadow-xl">
    <h2 class="text-2xl font-bold mb-4">Event Details</h2>
    <p><strong>Name:</strong> {{ event_details.name }}</p>
    <p><strong>Description:</strong> {{ event_details.description }}</p>
    <p><strong>Location:</strong> {{ event_details.location }}</p>
    <p><strong>Category:</strong> {{ event_details.category.name }}</p>
    <p><strong>Date:</strong> {{ event_details.date }}</p>
</div>
{% comment %} Participants Display Section {% endcomment %}
<div class="bg-white p-8 flex-1 rounded-xl shadow-xl ">
    <h3 class="text-xl font-semibold mb-4">Participants:</h3>

    {% if event_details.participants.all %}
        <div class="overflow-x-auto">
            <table class="table table-zebra">
                <!-- head -->
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                </tr>
                </thead>
                <tbody>
                <!-- row 1 -->
                 {% for participant in event_details.participants.all %}
                <tr>
                    <th>{{participant.id}}</th>
                    <td>{{participant.name}}</td>
                    <td>{{participant.email}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <p class="text-gray-600">No participants registered yet.</p>
    {% endif %}
</div>
</div>
{% endblock event_details %}