{% extends "base.html" %}
{% block home_btn %}
    <div class="flex-1">
          <a href="{% url "user_dashboard" %}"class="btn btn-ghost normal-case text-xl text-white">{{dashboard_name}}</a>
    </div>
{% endblock home_btn %}
{% block content %}
    <div class="mx-auto w-9/12 mt-8 border-2 rounded-xl shadow-xl bg-white p-12">
        <div>
        {% if messages %}
            {% for message in messages %}
                <div class="px-2 py-1 {% if message.tags == 'success' %} bg-green-600 {% endif %}"> 
                    {{message}} 
                </div>
            {% endfor %}
            
        {% endif %}
        <form method="POST" class="font-semibold form-control">
            {% csrf_token %}
            {{participant_form}}
            <button type="submit" class="border-purple-200  hover:border-transparent hover:bg-purple-600 hover:text-white active:bg-purple-700 border-2 rounded-lg shadow-xl p-2">Submit</button>
        </form>
        </div>
    </div>
{% endblock content %}