{% extends "base.html" %}
{% load static %}
{% block title %}Participant Dashboard{% endblock title %}
{% block content %}
<div class="grid lg:grid-cols-1 my-8 gap-4 w-3/12 mx-auto">
    <div class="card-compact bg-base-100 shadow-xl rounded-lg">
        <div class="card-body">
            <div style="background-image: url('{% static 'images/category.jpg' %}');" class="bg-cover bg-center h-40 rounded-xl w-full">
            </div>
            <a href="{% url "categories" %}" role="btn" class="btn btn-outline btn-accent">Category</a>
        </div>
    </div>
</div>
{% endblock content %}